/* Begin Globals */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black: #1a1e1f;
    --green1: #0a7e64;
    --green2: #109977;
    --blue: #1c8aad;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input,
button {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(4, 85, 51, 1) 0%,
        rgba(6, 159, 95, 0.9) 0%,
        rgba(6, 159, 95, 0.8) 0.05%,
        rgba(6, 102, 126, 0.9) 76.04%,
        rgba(6, 102, 126, 0.9) 76.04%,
        #1a8ba9 100%
    );
}

/* End Globals */

input {
    background-color: rgb(235, 235, 235);
}

input:focus,
textarea:focus,
select:focus {
    background-color: white;
    outline: none;
}

a {
    text-decoration: none;
}

a:hover,
a svg:hover {
    transition: 0.2s all;
}

/* Begin Header */

header {
    z-index: 99999;
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}

header #header-top-bar {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1a1e1f;
    color: white;
}

#header-social-bar a {
    color: white;
}

#header-social-bar a svg:hover {
    color: var(--green2);
}

.header-icon {
    font-size: 120%;
    margin-left: 5px;
    margin-right: 5px;
}

.header-icon-search {
    font-size: 100% !important;
    margin-left: 10px;
    margin-right: 20px;
}

#header-search {
    margin: 2px 10px 2px 20px;
}

#header-search-bar {
    margin-bottom: 2px;
    padding: 2px 10px;
    border-radius: 100px;
    font-size: 12px;
    border: none;
}

#header-main-bar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1e1f;
    color: white;
}

main#primary {
    z-index: 1;
}

#header-main-bar .nav-link {
    color: white;
    font-weight: 500;
}

#header-main-bar .nav-link:hover {
    color: var(--green2);
}

#main-nav {
    width: 100%;
    height: 80px;
}

nav {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
}

.main-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-nav a:nth-of-type(3) {
    margin-right: 50px;
}

.main-nav a:nth-of-type(4) {
    margin-left: 50px;
}

div#main-nav nav div a {
    padding: 10px 10px;
    border-radius: 1px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
div#main-nav nav div a:hover {
    color: var(--green1);
    background-color: white;
}

nav#mobile-nav {
    background: grey;
    visibility: hidden;
    height: 0px;
}

nav#mobile-nav,
nav#mobile-nav.open {
    -webkit-transition: height 0.75s ease;
    -moz-transition: height 0.75s ease;
    -o-transition: height 0.75s ease;
    transition: height 0.75s ease;
}

nav#mobile-nav div.mobile-nav {
    display: flex;
    flex-flow: column;
    width: 100%;
}

nav#mobile-nav div.mobile-nav a {
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid black;
}

div#circle-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 105px;
    height: 105px;
    background: var(--black);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

div#circle-img img {
    height: 100px;
    width: 100px;
}

div#sub-nav {
    width: 100%;
    height: 30px;
    background: white;
}

#header-bottom-bar {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    border-bottom: 1px solid var(--black);
}

#header-bottom-bar .nav-link {
    color: black;
    font-weight: 500;
    padding: 5px 5px;
}

#header-bottom-bar .nav-link:nth-of-type(2) {
    margin-right: 20px;
}

#header-bottom-bar .nav-link:nth-of-type(3) {
    margin-left: 20px;
}

#header-bottom-bar .nav-link:hover {
    color: var(--green1);
}

/* End Header */

#hero {
    background-image: url('../img/hero.jpeg');
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 70vh;
}

.tint {
    background-color: #00000080;
    height: 100%;
    width: 100%;
}

.hero-text-container {
    color: white;
    font-weight: 400;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-text-container h1,
.hero-text-container h3 {
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 50px;
}

/* Begin Footer */

footer {
    margin-top: auto;
}

.footer-container {
    width: 100%;
    color: white;
    background-color: var(--black);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container ul {
    padding: 0;
    list-style-type: none;
}

.footer-container li {
    list-style-type: none;
    padding: 10px 5px;
}

.footer-subscribe p {
    font-size: 1.3rem;
    padding: 20px 0;
}
.footer-subscribe input {
    font-size: 20px;
    padding: 10px 20px;
    width: 60%;
    border-radius: 5px;
    border: none;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-subscribe button {
    font-size: 18px;
    font-weight: 550;
    margin-left: 10px;
    /* padding: 10px 10px; */
    width: 150px;
    padding: 12px 20px;
    background-color: var(--green1);
    border-radius: 5px;
    color: white;
    border: none;
}

.footer-subscribe button:hover {
    background-color: var(--green2);
    cursor: pointer;
}

.footer-subscribe button:active {
    background-color: var(--green1);
}

.footer-links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.footer-links a:hover {
    color: var(--green2);
}

.footer-copyright {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.copyright-statement {
    font-size: 0.8rem;
}

.footer-section:nth-of-type(2) {
    margin-top: 20px;
}

.footer-icon:nth-of-type(1) img {
    max-width: 130px;
    max-height: 130px;
    margin: 10px auto;
    display: block;
}
.footer-icon:nth-of-type(2) img {
    max-width: 110px;
    max-height: 110px;
    margin: 30px auto 10px auto;
    display: block;
}

.footer-social-icons {
    font-size: 175%;
    height: 100%;
}

.footer-social-icon svg:hover {
    color: var(--green2);
}

.footer-social-icon {
    margin: 0 10px 30px 10px;
}

/* End Footer */

/* Begin Services Page */
.services-intro {
    min-height: 65vh;
    display: flex;
    flex-direction: row;
}

.services-intro-text,
.services-intro-image {
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.services-intro-text {
    background-color: #264653;
    color: white;
}

.services-intro-text h1 {
    padding: 0px 12%;
    font-size: 3rem;
}

.services-intro-text p {
    padding: 30px 12%;
    font-size: 1.4rem;
}

.services-intro-image {
    background-image: url('../img/construction.jpg');
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
}

.services-carousel {
    display: flex;
    min-height: 60vh;
    background-color: #129085;
    justify-content: center;
    align-items: center;
}

.services-carousel-btn-left {
    margin-left: 10px;
    margin-right: auto;
}

.services-carousel-btn-left svg,
.services-carousel-btn-right svg {
    width: 75%;
    height: 75%;
}

.services-carousel-btn-left svg:hover,
.services-carousel-btn-right svg:hover {
    cursor: pointer;
    background-color: #e5e1e0;
    border-radius: 100%;
}

.services-carousel-btn-left svg:active,
.services-carousel-btn-right svg:active {
    cursor: pointer;
    background-color: #808080;
    border-radius: 100%;
}

.services-carousel-btn-right {
    margin-left: auto;
}

.services-carousel-cardholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.services-carousel-card svg {
    color: white;
}

.services-carousel-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--black);
    color: white;
    min-height: 350px;
    width: 250px;
    padding: 20px 20px;
    margin: 20px 20px;
    border-radius: 10px;
    /* filter: drop-shadow(0 5px 5px black); */
}

.services-carousel-card h3 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.services-carousel-card:hover {
    cursor: pointer;
    transition: 0.1s all;
    border: 5px solid white;
    /* filter: invert(1); */
}

.services-card-invert {
    background-color: #e5e1e0;
    color: var(--black);
    border: 5px solid var(--black) !important;
}

.services-card-invert path {
    fill: var(--black);
}

.services-body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    */
    min-height: 50vh;
    background-color: #e5e1e0;
    padding: 50px 100px;
}

.services-body img {
    border-radius: 5px;
}

.services-body h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.services-body h3 {
    font-size: 1.7rem;
    padding-bottom: 20px;
}

.services-body p {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.services-big-img {
    min-height: 200px;
    min-width: 400px;
    height: 50%;
    width: 50%;
}

.img-wrap-text img {
    float: left;
    margin-right: 40px;
}

.img-wrap-text {
    margin-bottom: 20px;
}

.two-column {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.bullet-container {
    width: 50vw;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container {
    width: 50vw;
}

.services-bullet-img {
    width: 100%;
    height: auto;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
/* End Services Page */

/* Begin Pathways Step Box */
.diagram-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diagram-boxes-container {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagram-box-container {
    max-width: 200px;
    min-width: 150px;
    margin: 20px 20px;
    text-align: center;
}

.diagram-box {
    border-radius: 5px;
    background-color: #1a1e1f;
    color: white;
}

.diagram-box-text {
    font-size: 0.7rem;
    padding: 10px 20px;
}
.diagram-box-subtitle {
    background-color: #33ad7c;
    border: 1px solid #33ad7c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 20px;
}

.diagram-final-box {
    font-family: Montserrat, Arial;
    background-color: #1a1e1f;
    color: white;
    max-width: 600px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    margin: 0 15px 15px 15px;
}

.diagram-arrow svg {
    transform: scale(0.6);
}

/* End Pathways Step Box */

@media (max-width: 575px) {
    /* Begin Footer */

    footer div.footer-container {
        padding: 0;
        display: flex;
    }

    footer div.footer-container div.footer-section {
        margin: 0 auto;
    }

    footer div.footer-container div.footer-section:nth-of-type(1) {
        width: 90%;
    }

    footer div.footer-container div.footer-subscribe p {
        text-align: center;
        font-size: 1.25rem;
    }

    .footer-icons {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-icons .footer-icon {
        width: 50%;
        margin: auto;
    }

    .footer-icons .footer-icon img {
        margin: 10px auto;
    }

    .footer-icons .footer-social-icons {
        margin: 0 auto;
    }

    /* End Footer */
}

@media (max-width: 768px) {
    /* Begin Header */
    div#main-nav nav div.main-nav {
        display: none;
        padding: 0;
    }

    div#main-nav nav div.main-nav a,
    div#header-bottom-bar a.nav-link {
        padding: 0;
        font-size: 0.8rem;
    }

    div#header-bottom-bar {
        display: none;
    }

    div#mobile-nav-control {
        display: flex;
        flex-flow: column;
        position: absolute;
        right: 10px;
        top: 90px;
        cursor: pointer;
    }

    div.hamburger-icon {
        width: 35px;
        height: 3px;
        background-color: #ffffff;
        margin: 3px 0;
    }

    div#mobile-nav-hamburger {
        display: block;
    }

    /* End Header */

    .services-intro {
        flex-direction: column-reverse;
    }

    .services-intro-text {
        min-height: 20vh;
        padding: 25px 20px;
    }
    .services-intro-text h1 {
        padding: 0px 10%;
        font-size: 2rem;
        text-align: center;
    }

    .services-intro-text p {
        padding: 15px 10%;
        font-size: 1.1rem;
        text-align: center;
    }

    .services-intro-image {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .img-wrap-text {
        text-align: center;
    }
    .img-wrap-text img {
        float: none;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .services-carousel-card svg {
        width: 50%;
        height: 50%;
    }

    .services-carousel {
        margin: 0;
        padding: 0;
    }

    .services-carousel-card {
        min-height: 300px;
        width: 200px;
        padding: 10px;
        margin: 0 10px;
        border-radius: 10px;
        /* filter: drop-shadow(0 5px 5px black); */
    }

    .services-carousel-card h3 {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 1.2rem;
    }
}

@media (max-width: 992px) {
    .two-column {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .bullet-container {
        width: 70vw;
    }
    .img-container {
        width: 70vw;
        margin-bottom: 40px;
    }
    .diagram-boxes-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .services-body {
        padding: 50px 50px;
    }
    .bullet-container {
        width: 40vw;
    }
    .img-container {
        width: 60vw;
    }
}

@media (max-width: 1400px) {
}
