/* Begin Globals */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lobster:regular);

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black: #1a1e1f;
    --green1: #0a7e64;
    --green2: #109977;
    --blue: #1c8aad;
    --about-white: #f4f4f4;
    --about-grey: #e9e9e9;
    --about-btn-green: #1abc9c;
    --about-btn-hover-green: #16a085;
    --about-hero-green: #33a26d;
    --about-section-bg: #4d9e85;
    --about-award-bg: rgb(43, 47, 49);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input,
button {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(4, 85, 51, 1) 0%,
        rgba(6, 159, 95, 0.9) 0%,
        rgba(6, 159, 95, 0.8) 0.05%,
        rgba(6, 102, 126, 0.9) 76.04%,
        rgba(6, 102, 126, 0.9) 76.04%,
        #1a8ba9 100%
    );
}

/* End Globals */

input {
    background-color: rgb(235, 235, 235);
}

input:focus,
textarea:focus,
select:focus {
    background-color: white;
    outline: none;
}

a {
    text-decoration: none;
}

a:hover,
a svg:hover {
    transition: 0.2s all;
}

/* Begin Header */

header {
    z-index: 99999;
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}

header #header-top-bar {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1a1e1f;
    color: white;
}

#header-social-bar a {
    color: white;
}

#header-social-bar a svg:hover {
    color: var(--green2);
}

.header-icon {
    font-size: 120%;
    margin-left: 5px;
    margin-right: 5px;
}

.header-icon-search {
    font-size: 100% !important;
    margin-left: 10px;
    margin-right: 20px;
}

#header-search {
    margin: 2px 10px 2px 20px;
}

#header-search-bar {
    margin-bottom: 2px;
    padding: 2px 10px;
    border-radius: 100px;
    font-size: 12px;
    border: none;
}

#header-main-bar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1e1f;
    color: white;
}

main#primary {
    z-index: 1;
}

#header-main-bar .nav-link {
    color: white;
    font-weight: 500;
}

#header-main-bar .nav-link:hover {
    color: var(--green2);
}

#main-nav {
    width: 100%;
    height: 80px;
}

nav {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
}

.main-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-nav a:nth-of-type(3) {
    margin-right: 50px;
}

.main-nav a:nth-of-type(4) {
    margin-left: 50px;
}

div#main-nav nav div a {
    padding: 10px 10px;
    border-radius: 1px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
div#main-nav nav div a:hover {
    color: var(--green1);
    background-color: white;
}

nav#mobile-nav {
    background: grey;
    visibility: hidden;
    height: 0px;
}

nav#mobile-nav,
nav#mobile-nav.open {
    -webkit-transition: height 0.75s ease;
    -moz-transition: height 0.75s ease;
    -o-transition: height 0.75s ease;
    transition: height 0.75s ease;
}

nav#mobile-nav div.mobile-nav {
    display: flex;
    flex-flow: column;
    width: 100%;
}

nav#mobile-nav div.mobile-nav a {
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid black;
}

div#circle-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 105px;
    height: 105px;
    background: var(--black);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

div#circle-img img {
    height: 100px;
    width: 100px;
}

div#sub-nav {
    width: 100%;
    height: 30px;
    background: white;
}

#header-bottom-bar {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    border-bottom: 1px solid var(--black);
}

#header-bottom-bar .nav-link {
    color: black;
    font-weight: 500;
    padding: 5px 5px;
}

#header-bottom-bar .nav-link:nth-of-type(2) {
    margin-right: 20px;
}

#header-bottom-bar .nav-link:nth-of-type(3) {
    margin-left: 20px;
}

#header-bottom-bar .nav-link:hover {
    color: var(--green1);
}

/* End Header */

#hero {
    background-image: url('../img/hero.jpeg');
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 70vh;
}

.tint {
    background-color: #00000080;
    height: 100%;
    width: 100%;
}

.hero-text-container {
    color: white;
    font-weight: 400;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-text-container h1,
.hero-text-container h3 {
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 50px;
}

/* Begin Footer */

footer {
    margin-top: auto;
}

.footer-container {
    width: 100%;
    color: white;
    background-color: var(--black);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container ul {
    padding: 0;
    list-style-type: none;
}

.footer-container li {
    list-style-type: none;
    padding: 10px 5px;
}

.footer-subscribe p {
    font-size: 1.3rem;
    padding: 20px 0;
}
.footer-subscribe input {
    font-size: 20px;
    padding: 10px 20px;
    width: 60%;
    border-radius: 5px;
    border: none;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-subscribe button {
    font-size: 18px;
    font-weight: 550;
    margin-left: 10px;
    /* padding: 10px 10px; */
    width: 150px;
    padding: 12px 20px;
    background-color: var(--green1);
    border-radius: 5px;
    color: white;
    border: none;
}

.footer-subscribe button:hover {
    background-color: var(--green2);
    cursor: pointer;
}

.footer-subscribe button:active {
    background-color: var(--green1);
}

.footer-links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.footer-links-col {
    margin-right: 20px;
}

.footer-links a:hover {
    color: var(--green2);
}

.footer-copyright {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.copyright-statement {
    font-size: 0.8rem;
}

.footer-section:nth-of-type(2) {
    margin-top: 20px;
}

.footer-icon:nth-of-type(1) img {
    max-width: 130px;
    max-height: 130px;
    margin: 10px auto;
    display: block;
}
.footer-icon:nth-of-type(2) img {
    max-width: 110px;
    max-height: 110px;
    margin: 30px auto 10px auto;
    display: block;
}

.footer-social-icons {
    font-size: 175%;
    height: 100%;
}

.footer-social-icon svg:hover {
    color: var(--green2);
}

.footer-social-icon {
    margin: 0 10px 30px 10px;
}

/* End Footer */

.event-calendar .box {
    min-height: 50px;
    color: #ffffff;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding: 5px 20px;
    width: 80%;
    max-width: 750px;
}

.event-date {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 2px 20px 0px 0px;
}

.event-day {
    font-size: 2rem;
}

.event-time {
    margin-top: 5px;
    font-size: 0.75rem;
}

.event-meta {
    line-height: 1.5rem;
}

.event-meta a {
    color: #ffffff !important;
}

.event-meta a:hover {
    text-decoration: underline;
}

.event-title {
    display: block;
    margin: 5px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Begin Services Page */
.services-intro {
    min-height: 65vh;
    display: flex;
    flex-direction: row;
}

.services-intro-text,
.services-intro-image {
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.services-intro-text {
    background-color: #264653;
    color: white;
}

.services-intro-text h1 {
    padding: 0px 12%;
    font-size: 3rem;
}

.services-intro-text p {
    padding: 30px 12%;
    font-size: 1.4rem;
}

.services-intro-image {
    background-image: url('../img/construction.jpg');
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
}

.services-carousel {
    display: flex;
    min-height: 60vh;
    background-color: #129085;
    justify-content: center;
    align-items: center;
}

.services-carousel-btn-left {
    margin-left: 10px;
    margin-right: auto;
}

.services-carousel-btn-left svg,
.services-carousel-btn-right svg {
    width: 75%;
    height: 75%;
}

.services-carousel-btn-left svg:hover,
.services-carousel-btn-right svg:hover {
    cursor: pointer;
    background-color: #e5e1e0;
    border-radius: 100%;
}

.services-carousel-btn-left svg:active,
.services-carousel-btn-right svg:active {
    cursor: pointer;
    background-color: #808080;
    border-radius: 100%;
}

.services-carousel-btn-right {
    margin-left: auto;
}

.services-carousel-cardholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.services-carousel-card svg {
    color: white;
}

.services-carousel-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--black);
    color: white;
    min-height: 350px;
    width: 250px;
    padding: 20px 20px;
    margin: 20px 20px;
    border-radius: 10px;
    /* filter: drop-shadow(0 5px 5px black); */
}

.services-carousel-card h3 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.services-carousel-card:hover {
    cursor: pointer;
    transition: 0.1s all;
    border: 5px solid white;
    /* filter: invert(1); */
}

.services-card-invert {
    background-color: #e5e1e0;
    color: var(--black);
    border: 5px solid var(--black) !important;
}

.services-card-invert path {
    fill: var(--black);
}

.services-body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    */
    min-height: 50vh;
    background-color: #e5e1e0;
    padding: 50px 100px;
}

.services-body img {
    border-radius: 5px;
}

.services-body h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.services-body h3 {
    font-size: 1.7rem;
    padding-bottom: 20px;
}

.services-body p {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.services-big-img {
    min-height: 200px;
    min-width: 400px;
    height: 50%;
    width: 50%;
}

.img-wrap-text img {
    float: left;
    margin-right: 40px;
}

.img-wrap-text {
    margin-bottom: 20px;
}

.two-column {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.bullet-container {
    width: 50vw;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container {
    width: 50vw;
}

.services-bullet-img {
    width: 100%;
    height: auto;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
/* End Services Page */

/* Begin Pathways Step Box */
.diagram-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diagram-boxes-container {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagram-box-container {
    max-width: 200px;
    min-width: 150px;
    margin: 20px 20px;
    text-align: center;
}

.diagram-box {
    border-radius: 5px;
    background-color: #1a1e1f;
    color: white;
}

.diagram-box-text {
    font-size: 0.7rem;
    padding: 10px 20px;
}
.diagram-box-subtitle {
    background-color: #33ad7c;
    border: 1px solid #33ad7c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 20px;
}

.diagram-final-box {
    font-family: Montserrat, Arial;
    background-color: #1a1e1f;
    color: white;
    max-width: 600px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    margin: 0 15px 15px 15px;
}

.diagram-arrow svg {
    transform: scale(0.6);
}

/* End Pathways Step Box */

/* Begin About Us Page */
.scroll-back-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #33ad7c;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.scroll-back-btn:hover {
    transform: scale(1.1);
    transition: 0.2s all;
}

/* this will fix/disable the unintended
horizontal scrolling in the mobile view */
.main {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.about-hero {
    background-image: url('../img/about/sitting-table.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 70vh;
}

.about-hero-weare,
.about-hero-soulful,
.about-hero-subtitle {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    margin: 15px 0 15px 0;
}

.about-hero-weare {
    color: var(--about-white);
    font-size: 4rem;
    font-weight: 500;
}
.about-hero-soulful {
    color: var(--about-hero-green);
    font-size: 5.5rem;
    font-weight: 700;
    text-align: center;
}
.about-hero-subtitle {
    color: var(--about-white);
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
}

.about-hero-btn-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-hero-btn {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 15px 20px;
    margin-right: 10px;
    border: 1px solid var(--about-white);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--about-white);
    cursor: pointer;
    text-decoration: none;
    color: var(--about-white);
}

.about-hero-btn:hover {
    background-color: var(--about-white);
    color: var(--black);
    transition: 0.2s all;
}

.about-hero-btn:active {
    background-color: rgba(0, 0, 0, 0);
    color: var(--about-white);
}

.about-mission {
    background-color: var(--black);
    color: var(--about-white);
    padding: 30px 20px 30px 20px;
}

.about-mission-text {
    margin: 50px 200px;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    text-align: center;
}

.about-mission-leaves-top,
.about-mission-leaves-bottom svg {
    transform: scale(2);
}

.about-section-header {
    background-color: black;
    background: linear-gradient(90deg, #1397bb 0%, #37b356 100%);

    color: var(--about-white);
    width: 100%;
}

.about-section-header h1 {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    margin: 50px 0 50px 0;
}

.about-section-header h1 {
    text-align: center;
}

.about-history-img {
    width: 100vw;
    height: auto;
    background-color: var(--about-award-bg);
}

.about-history-img img {
    width: 100%;
    height: auto;
}

.about-award-strip {
    background: #f0c27b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #4b1248,
        #f0c27b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #4b1248,
        #f0c27b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* option 2 */
    background: #c04848; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #480048,
        #c04848
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #480048,
        #c04848
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: auto;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.about-award-row {
    margin-bottom: 5px;
}

.about-history-textarea {
    background-color: var(--black);
    color: var(--about-white);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 8vh 5vw 8vh 5vw;
}

.about-history-textarea-leftcol,
.about-history-textarea-rightcol {
    max-width: 600px;
}

.about-history-textarea-leftcol {
    margin-right: 5vw;
}
.about-history-textarea-rightcol {
    margin-left: 5vw;
}

.about-history-textarea-leftcol,
.about-history-textarea-rightcol {
    text-align: justify;
    line-height: 150%;
}

.about-team {
    background-color: var(--black);
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.about-team-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.about-team-profile {
    background-color: var(--about-grey);
    color: var(--black);
    margin: 20px;
    height: 400px;
    width: 300px;
}

.about-team-profile-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.about-team-profile-img:hover {
    cursor: pointer;
    filter: brightness(0.3);
}

.about-team-profile-img img {
    height: 300px;
    width: auto;
}

.about-team-profile-textarea {
    overflow: hidden;
}

.about-team-profile-textarea-name {
    margin: 15px 10px 5px 10px;
    color: var(--green1);
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.about-team-profile-textarea-title {
    margin: 5px 10px 0 10px;
}

.photos-single-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 40px;
    background-color: var(--black);
}

.single-photo img {
    max-height: 250px;
    max-width: 80vw;
    width: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.single-photo img:hover {
    filter: brightness(0.3);
}

.prezi-slides {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prezi-slides iframe {
    width: 100%;
    height: 450px;
}

.about-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 40px;
    background-color: white;
}

.about-partner-logo img {
    max-height: 150px;
    max-width: 28vw;
    width: auto;
    padding: 20px;
}

/* End About Us Page */

/* Modals */
/* For Modals in About Page and (possibly) Farms Page  */

/* for header and .main */
.dim-blur {
    filter: brightness(0.5) blur(10px);
}

/* for body when modal is open */
.disable-overflow-y {
    overflow: hidden;
}

/* for modals */
.modals {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: red;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(240, 240, 240);
    width: 1000px;
    max-width: 80vw;
    max-height: 90vh;
    z-index: 9999;
    box-sizing: content-box;
    overflow-y: auto;
    animation-duration: 3s;
    animation-name: slidein;
}

.modal-header {
    text-align: center;
    background-color: var(--black);
    padding: 10px 0 8px 0;
}

.modal-header img {
    max-height: 300px;
    width: auto;
}

.modal-body {
    padding: 30px 60px;
    background-color: white;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0 5px 5px;
}

.modal-buttons button {
    cursor: pointer;
    background-color: var(--about-btn-green);
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 5px;
}

.modal-buttons button:hover {
    background-color: var(--about-btn-hover-green);
    transition: 0.1s all;
}

.modal-buttons button:active {
    background-color: var(--about-btn-green);
}

.modal-button-close button {
    background-color: var(--black);
    padding: 10px 10px;
}

/* Helpers */
.tint-75 {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
}

.flex-center-v {
    display: flex;
    justify-content: center;
}

.flex-center-h {
    display: flex;
    align-items: center;
}

.flex-center-v-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}

/* for email validation */
.invalid-email {
    font-size: 14px;
    color: rgb(255, 109, 109);
}

.hidden {
    display: none;
}

@media (max-width: 575px) {
    /* Begin About Us Page */
    .about-hero-weare {
        font-size: 3rem;
    }

    .about-hero-soulful {
        font-size: 4rem;
    }

    .about-section-header h1 {
        font-size: 2.5rem;
    }
    /* End About Us Page */
}

@media (max-width: 768px) {
    /* Begin Header */
    div#main-nav nav div.main-nav {
        display: none;
        padding: 0;
    }

    div#main-nav nav div.main-nav a,
    div#header-bottom-bar a.nav-link {
        padding: 0;
        font-size: 0.8rem;
    }

    div#header-bottom-bar {
        display: none;
    }

    div#mobile-nav-control {
        display: flex;
        flex-flow: column;
        position: absolute;
        right: 10px;
        top: 90px;
        cursor: pointer;
    }

    div.hamburger-icon {
        width: 35px;
        height: 3px;
        background-color: #ffffff;
        margin: 3px 0;
    }

    div#mobile-nav-hamburger {
        display: block;
    }

    /* End Header */

    .services-intro {
        flex-direction: column-reverse;
    }

    .services-intro-text {
        min-height: 20vh;
        padding: 25px 20px;
    }
    .services-intro-text h1 {
        padding: 0px 10%;
        font-size: 2rem;
        text-align: center;
    }

    .services-intro-text p {
        padding: 15px 10%;
        font-size: 1.1rem;
        text-align: center;
    }

    .services-intro-image {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .img-wrap-text {
        text-align: center;
    }
    .img-wrap-text img {
        float: none;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .services-carousel-card svg {
        width: 50%;
        height: 50%;
    }

    .services-carousel {
        margin: 0;
        padding: 0;
    }

    .services-carousel-card {
        min-height: 300px;
        width: 200px;
        padding: 10px;
        margin: 0 10px;
        border-radius: 10px;
        /* filter: drop-shadow(0 5px 5px black); */
    }

    .services-carousel-card h3 {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 1.2rem;
    }

    /* Begin Footer */
    footer div.footer-container {
        padding: 0;
        display: flex;
    }

    footer div.footer-container div.footer-section {
        margin: 20px auto;
    }

    footer div.footer-container div.footer-section:nth-of-type(1) {
        width: 90%;
    }

    footer div.footer-container div.footer-section:nth-of-type(2) {
        margin: 20px;
    }

    footer div.footer-container div.footer-subscribe p {
        text-align: center;
        font-size: 1.25rem;
    }

    .footer-icons {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-icons .footer-icon {
        width: 50%;
        margin: auto;
    }

    .footer-icons .footer-icon img {
        margin: 10px auto;
    }

    .footer-icons .footer-social-icons {
        margin: 0 auto;
    }
    /* End Footer */

    .about-award-strip {
        flex-direction: column;
    }

    .about-award-col:not(:last-of-type)::after {
        content: '‒‒‒‒‒';
    }

    .about-history-textarea {
        flex-direction: column;
    }

    .about-history-textarea-rightcol {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media (max-width: 992px) {
    .two-column {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .bullet-container {
        width: 70vw;
    }
    .img-container {
        width: 70vw;
        margin-bottom: 40px;
    }
    .diagram-boxes-container {
        flex-wrap: wrap;
    }
    .about-mission-text {
        margin: 50px 0px;
    }
}

@media (max-width: 1200px) {
    .services-body {
        padding: 50px 50px;
    }
    .bullet-container {
        width: 40vw;
    }
    .img-container {
        width: 60vw;
    }
}

@media (max-width: 1400px) {
}
