div#mobile-bottom-nav {
    display: none;
}
div#pathways {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
    background-color: #1a1e1f;
    padding: 30px 0;
}
div#pathways h1,
#pathways p {
    color: #fff;
    width: 70%;
    text-align: center;
    margin: auto;
}
#pathways p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
div#pathways .pathways-carousel {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin: 20px auto;
    width: 80%;
}
.pathways-carousel .box {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 180px;
    width: 200px;
    margin: 0 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
}
.pathways-carousel .box img {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 120px;
    height: 120px;
}
.pathways-carousel .box a {
    font-size: 20px;
    display: flex;
    flex-flow: column;
    color: #fff;
    margin: auto auto 20px;
}
div#services {
    display: flex;
    flex-flow: column;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 30px 0;
}
#services p {
    margin-top: 20px;
    font-size: 20px;
}
.homepage-services-carousel {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    margin: 0 auto;
}
.homepage-services-carousel .box {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #1a1e1f;
    height: 250px;
    width: 25%;
    margin: 0 auto 25px auto;
    padding: 10px 0;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.45);
}
.homepage-services-carousel .box:hover,
.pathways-carousel .box:hover {
    box-shadow: inset 1px 1px 5px #fff;
    cursor: pointer;
}
.homepage-services-carousel .box img {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 120px;
    height: 120px;
}
.homepage-services-carousel .box a {
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
.homepage-services-carousel .set {
    display: none;
}
.homepage-services-carousel .set.after {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    justify-content: center;
    justify-content: space-around;
}
svg.prev:hover,
svg.next:hover {
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #fff;
    cursor: pointer;
}
#services a.btn,
#events a.btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
    border: 2px solid #ffffff;
    background-color: #1a1e1f;
    border-radius: 20px;
    padding: 5px 10px;
    width: 100px;
}

div#impact {
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #1a1e1f;
    color: #fff;
    padding: 20px 0 50px;
    margin: 20px 0;
}
div#impact p {
    margin-top: 20px;
    font-size: 20px;
}
div#impact ul {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 100px;
}
div#impact li {
    list-style: none;
    width: 20%;
    font-size: 20px;
}
div#impact .divider {
    border-left: 1px solid #fff;
    height: 100px;
}
div#group {
    display: inline-flex;
    margin: auto auto 50px;
}
div#testimonials {
    display: inline-block;
    flex-flow: column;
    text-align: center;
    width: 45%;
    margin: 3% 2% 4% auto;
}
div#testimonials h1 {
    margin-bottom: 30px;
}
.testimonials-carousel {
    display: inline-flex;
    flex-flow: row;
}
.testimonials-carousel svg.prev {
    margin: auto;
}
.testimonials-carousel svg.next {
    margin: auto;
}
.testimonials-carousel .set {
    display: none;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    width: 80%;
}
.testimonials-carousel img {
    margin-bottom: 20px;
    border-radius: 100%;
}
.testimonials-carousel p {
    font-size: 20px;
}
#group .divider {
    border-left: 1px solid #000;
    height: 450px;
    margin-top: 6%;
}
div#events {
    width: 45%;
    height: 500px;
    margin: 3% 2% 4% auto;
    float: right;
}
div#events h1 {
    text-align: center;
}
.event-calendar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}
.event-calendar .box {
    margin: 20px auto;
    height: auto;
    background-color: #1a1e1f;
}
.event-calendar .box img {
    margin: auto auto auto 10px;
    align-items: center;
}
.event-calendar .box .info {
    margin: auto auto auto 10px;
    width: 100%;
    text-align: left;
    align-items: center;
}
#hero .hero-text-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 3% auto;
}

.hero-text-container h1 {
    font-size: 50px;
}

.hero-text-container h3 {
    font-size: 25px;
}

.header h1,
.header p {
    color: white;
}

.header h1,
.issue-card h1 {
    font-size: 1.5rem;
    margin: 0 20px;
}

.why-soulful-synergy .header,
.why-issues .header,
.why-connected .header,
.why-collaboration .header {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    padding: 20px 0 20px 0;
    margin: auto;
}

.why-soulful-synergy img,
.why-connected img,
.why-collaboration img {
    width: 50%;
    margin: auto;
}

.introduction {
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.why-issues .introduction {
    width: 90%;
}

.why-collaboration .stakeholders .introduction {
    width: 100%;
}

.header h1 {
    font-size: 50px;
    padding: 20px 0 20px 0;
    text-align: center;
}

.sub-body,
.card-holder,
.main-body {
    display: none;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    width: 90%;
    color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card-holder {
    display: flex;
    flex-flow: row;
}

.sub-body.open,
.main-body.open {
    display: flex;
}

.intro {
    display: flex;
    width: 100%;
}

.introduction p {
    width: 90%;
    padding: 2% 0 2% 0;
    margin: auto;
    text-align: center;
}

.why-issues .card-holder .issue-card img {
    width: 90%;
    margin: 5% auto;
    margin-bottom: 10%;
    border-radius: 10px;
}

.why-issues .card-holder .issue-card {
    width: 30%;
    background-color: var(--black);
    border-radius: 30px;
    margin: 2% auto;
    padding: 30px 0 50px 0;
    height: 30%;
}

.why-collaboration .stakeholders {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    text-align: center;
    align-items: center;
    padding: 10px 0 30px 0;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

.why-collaboration .collaboration-card {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 20px 0 10px 0;
    background-color: var(--black);
}

.collaboration-card img {
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 40%;
    padding: 20px 0 20px 0;
}

.collaboration-card .intro {
    flex-flow: column;
    width: 80%;
    margin: auto;
}

.why-collaboration .solution-visual {
    display: none;
}

button.mainOpen,
button.mainClose,
button.subButton {
    background-color: var(--black);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    width: 150px;
    padding: 10px 0 10px 0;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
}

button.mainOpen.open,
button.mainClose.open,
button.subButton.open {
    display: none;
}

.main-body a {
    color: white;
    font-size: 15px;
}

@media (max-width: 768px) {
    nav#mobile-nav.open {
        visibility: visible;
        height: 100%;
    }

    nav#mobile-nav div.mobile-nav {
        visibility: hidden;
        height: 0px;
    }

    nav#mobile-nav.open div.mobile-nav {
        visibility: visible;
        height: 100%;
    }

    div#main-nav nav div.main-nav {
        flex-flow: column;
        margin: 0 auto;
        height: 60%;
    }

    div.hamburger-icon.top {
        display: none;
    }
    div.hamburger-icon.middle {
        transform: rotate(45deg);
    }
    div.hamburger-icon.bottom {
        transform: rotate(-45deg);
        margin-top: -6px;
    }

    div.hamburger-icon {
        transition-duration: 0.75s;
        transition-property: transform;
    }

    div#circle-img {
        z-index: 1;
    }
    div#mobile-bottom-nav {
        display: flex;
        height: auto;
        width: 100%;
        position: sticky;
        bottom: 0;
        margin: 0 auto;
        background-color: #1a1e1f;
        text-align: center;
        align-items: center;
        z-index: 9999;
    }
    div#mobile-bottom-nav a {
        display: flex;
        flex-flow: column;
        color: #fff;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 10px;
        padding: 10px 0;
    }
    div#mobile-bottom-nav a img {
        padding-bottom: 2px;
    }

    .homepage-services-carousel svg.prev {
        margin: auto auto auto 10px;
    }
    .homepage-services-carousel svg.next {
        margin: auto 10px auto auto;
    }
    #services {
        display: flex;
        flex-flow: row;
    }
    .homepage-services-carousel .set.after {
        flex-flow: column;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 10px 0;
    }
    .homepage-services-carousel .box {
        width: 180px;
        height: 100%;
        margin: auto auto 30px;
        border-radius: 2%;
        box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.45);
    }
    #services p {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
    }
    div#impact {
        margin: auto;
        text-align: center;
        color: #fff;
    }
    div#impact ul {
        grid-column-gap: 30px;
        width: 90%;
    }
    div#impact li {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: auto;
    }
    .testimonials-carousel svg.prev {
        width: 30px;
        height: 30px;
    }
    .testimonials-carousel svg.next {
        width: 30px;
        height: 30px;
    }
    .testimonials-carousel img {
        width: 200px;
        height: 200px;
    }
    div .divider {
        width: 80%;
        height: 1px;
        margin: auto;
        background-color: #000;
    }
    #hero .hero-text-container {
        width: 90%;
    }

    .hero-text-container h3 {
        font-size: 20px;
    }

    .header h1 {
        font-size: 25px;
    }

    .header span {
        display: none;
    }

    .intro {
        flex-flow: column;
    }

    .introduction {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .why-issues .header,
    .why-connected .header,
    .why-collaboration .header {
        margin-top: 30px;
    }

    .why-collaboration {
        margin-bottom: 30px;
    }

    .why-soulful-synergy img,
    .why-connected img,
    .why-collaboration img {
        width: 100%;
    }

    .why-issues .card-holder {
        flex-flow: column;
    }

    .why-issues .card-holder .issue-card {
        width: 95%;
        margin-bottom: 30px;
    }

    .why-collaboration .stakeholders {
        display: flex;
        flex-flow: column;
        margin: auto;
    }

    .why-collaboration .collaboration-card {
        margin-bottom: 50px;
    }

    .collaboration-card img {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 992px) {
    #pathways,
    #impact {
        background-color: #1a1e1f;
    }
    #pathways h1,
    #services h1,
    #impact h1 {
        text-decoration: underline;
    }
    #pathways h1,
    #impact h1 {
        color: #fff;
    }
    #pathways h1,
    #services h1,
    #impact h1,
    #testimonials h1,
    #events h1 {
        font-size: 20px;
        padding: 20px 0;
        margin: auto;
    }
    .box a {
        text-decoration: none;
        color: #000;
    }

    .pathways-carousel .box {
        background-color: #fff;
        margin: auto;
        height: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .pathways-carousel .box img {
        margin-top: 10px;
        width: 70px;
        height: 70px;
    }
    .pathways-carousel .box a {
        color: #000;
        margin: 0;
        font-size: 1rem;
    }
    #pathways p {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
        color: #fff;
    }
    div#services {
        width: 95%;
    }
    .homepage-services-carousel .box {
        height: auto;
    }
    .homepage-services-carousel .set.after {
        margin: auto;
        width: 90%;
    }
    div#impact {
        display: block;
        margin: auto;
        text-align: center;
        color: #fff;
        padding: 0;
    }
    div#impact p {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
    }
    div#impact ul {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-row-gap: 30px;
        padding: 10px 0 30px;
        margin: auto;
    }
    div#impact li {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
    div#impact li p {
        width: 100%;
    }
    div#impact .divider {
        display: none;
    }
    div#group {
        display: block;
        margin: 0;
        margin-bottom: 30px;
    }
    div#testimonials,
    div#events {
        display: block;
        width: 100%;
        margin: 0;
    }
    .testimonials-carousel {
        display: flex;
        flex-flow: row;
    }
    .testimonials-carousel .set {
        margin: auto;
        text-align: center;
        padding: 0px 0px 20px;
        transition: all 1s ease-in-out;
    }
    #group .divider {
        width: 80%;
        height: 1px;
        margin: auto;
        background-color: #000;
    }

    .event-calendar .box .info {
        color: #fff;
    }
}
